################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoffeeRoom/CoffeeRoomApi/.vs/CoffeeRoomApi/v15/Server/sqlite3/db.lock
